<nav class="navbar navbar-fixed-top">
  <div class="container">

    <!-- Navbar Header [collects both toggle button and navbar brand] -->
    <div class="navbar-header">
      <!-- Toggle Button [handles opening navbar menu on mobile screens]-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#exampleNavComponents" aria-expanded="false">
        <i class="glyphicon glyphicon-align-center"></i>
      </button>
    </div>
    <!-- Navbar Collapse [collect navbar components such as navbar links and forms ] -->
    <div class="collapse navbar-collapse" id="exampleNavComponents">

      <!-- Navbar Links -->
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Login</a>
        </li>
        <li>
          <a href="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- /.============= Navbar =============-->
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3" style="margin-top :280px;">
      <div class="panel panel-default" style="border:none;background-color:black;color:white;">
        <div class="panel-body" style="text-align: center">
          <h1>Hi!</h1>
          <h1>This is my site.</h1>
        </div>
      </div>
    </div>
  </div>
</div>