/* NavBar */
nav.navbar {
    background: #000;
    color: #fff;
    border-bottom: none;
    border-radius: 0;
    padding: 15px 0;
}
nav.navbar .navbar-collapse {
    text-align: center;
    border: none;
}
nav.navbar .navbar-nav{
    display: inline-block;
    float: none;
}
nav.navbar ul.navbar-nav {
    border: none;
}
nav.navbar ul.navbar-nav a {
    color: rgb(255, 255, 255);
}
nav.navbar ul.navbar-nav a:hover,
nav.navbar ul.navbar-nav a:focus {
    background-color: #000;
    color: #fff;
}

@media (min-width: 768px) {
    nav.navbar {
        height: 60px;
        display: flex;
        align-items: center;
    }
}
@media (max-width: 767px) {
    .navbar-header {
        height: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .navbar-toggle {
        margin-top: 5px;
    }
}
/* NavBar End */
